<!DOCTYPE html>
<html lang="en">
<body>

    <form action="/post" method="POST">
        
        <p>
            <label for="title">Title:</label><br/>
            <input type="text" name="title" size="50" value="testing">
        </p>

        <p>
            <label for="body">Body:</label><br/>
            <textarea name="body" cols="50" rows="5">just a test</textarea>
        </p>
        
        <p>
            <label for="badge">Badge Count: </label><br/>
            <input type="number" name="badge" min="0" value="0">
        </p>

        <p>
            <label for="title">Token:</label><br/>
            <input type="text" name="token" size="64" maxlength="64" value="4488BD03B553A7AD2AA81FDB2B99EBD8617DF33ADEC0C937B8AE0D3A37A3A08B">
        </p>
        
        <p>
            <label for="topic">Topic:</label><br/>
            <select name="topic">
                <option value="com.getnewman.propeller">com.getnewman.propeller</option>
            </select>
        </p>
        
        <p>
            <label for="delay">Delay: (seconds)</label><br/>
            <input type="number" name="delay" min="0" value="0">
        </p>
        
        <input type="hidden" name="auth_token" value="0d6d8d20-13c3-11e6-a148-3e1d05defe78">
        <input type="submit" value="Send Push">
        
    </form>
</body>
</html>