<!DOCTYPE html>
<html lang="en">
<body>

    <form action="/post" method="POST">
        
        <p>
            <label for="title">Title:</label><br/>
            <input type="text" name="title" size="50" value="Test Title">
        </p>

        <p>
            <label for="body">Body:</label><br/>
            <textarea name="body" cols="50" rows="5">Just a Test</textarea>
        </p>
        
        <p>
            <label for="badge">Badge Count: </label><br/>
            <input type="number" name="badge" min="0" value="0">
        </p>

        <p>
            <label for="title">Token:</label><br/>
            <input type="text" name="token" size="64" maxlength="64" value="0000000000000000000000000000000000000000000000000000000000000000">
        </p>
        
        <p>
            <label for="topic">Topic:</label><br/>
            <select name="topic">
                <option value="com.example.propeller">com.example.propeller</option>
            </select>
        </p>
        
        <p>
            <label for="delay">Delay: (seconds)</label><br/>
            <input type="number" name="delay" min="0" value="0">
        </p>
        
        <!-- Put your own auth token in here -->
        <input type="hidden" name="auth_token" value="00000000-0000-0000-0000-000000000000">
        
        <input type="submit" value="Send Push">
        
    </form>

</body>
</html>